<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My favorite restaurant list</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/" style="font-size: 23px;">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          我的餐廳清單
        </a>
      </div>
    </nav>
    <div class="d-flex justify-content-center align-items-center"
      style="background: url(https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg); height: 360px;">
      <h1 class="mb-1 restaurant-show-title" style="color: white; text-shadow: black 0.05em 0.05em 0.2em;">
        {{restaurant.name}}</h1>
    </div>
  </header>

  {{{body}}}
  <script src="https://kit.fontawesome.com/6ae71b27f2.js" crossorigin="anonymous"></script>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>